@charset "utf-8";
.mask{
    width: 100%;
    height: 100vh;
    background-color: #191f26;
    position: absolute;
    top: 0;
    left: 0;
    // 안에 있는 이미지 중앙정렬
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 600px;
        // 사진 크기가 작아짐
    }
}